header{
	background-color: rgb(100, 100, 100);
	padding: 20px;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin-left: 15px;
}

nav a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
}


.titulo-principal {
	text-decoration: none;
	text-align: left;
	padding: 50px;
	border: 20px;
	font-size: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

#banner {
	width: 100%;
}

.principal {
	background-color: rgb(100, 100, 100);
	padding: 30px;
}
p {
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
}

.titulo-centralizado {
	text-align: center;
	font-family: sans-serif;
}

#forte {
	color: red;
}

.itens{
	font-size: 20px;
	font-family: sans-serif;
	font-style: italic;
	background-color: white;
}

.beneficios {
	background: white;
	padding: 20px;
}

.lista-beneficios {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 20%;
}

.imagembeneficios {
	width: 50%;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0 ;
}

.copyright {
	color: whitesmoke;
	font-size: 13px;
	margin-top: 20px ;
}